<!DOCTYPE html>
<html ng-app="myApp">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <script src="lib/angular/angular.min.js"></script>
    <script src="js/app.js"></script>

</head>
<body ng-controller="MyController" scroll="#">
    <div lenders-loading> <!-- spinner div -->
        <span ng-if = "lenders == null"><button type="button">Try again</button></span> <!-- button is only shown when a lender can't be laoded -->
        <header class="site-header">
            <div class="container mt-sm-3">
                <div class="row justify-content-center">
                  <div class="col-12 col-md-8 col-lg-6 card">
                      <div class="card-body">
                        <h2 class="card-title text-dark">Lender Maintenance</h2>

                      </div>
                  </div>
                </div>
            </div>
        </header>

        <main role="main" class="container">

                <table class="table">
                    <div id="Header-anchor"></div> <!-- sticky table header -->
                    <div id="Header">
                        <thead>
                            <tr>
                                <th scope="col">Bank Code</th>
                                <th scope="col">Display Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Upfront</th>
                                <th scope="col">Trail High</th>
                                <th scope="col">Trail Low</th>
                                <th scope="col">Balance Multiplier</th>
                                <th scope="col">Active</th>
                                <th scope="col">Hide</th>
                                <th scope="col">Edit</th>

                            </tr>
                        </thead>
                    </div>
                    <tbody>
                        <tr ng-repeat="item in lenders">
                            <td scope="row">{{item.code}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.upfront_commission}}</td>
                            <td>{{item.high_trail_commission}}</td>
                            <td>{{item.low_trail_commission}}</td>
                            <td>{{item.balance_multiplier}}</td>
                            <td>{{item.is_active}}</td>
                            <td>{{item.is_hidden}}</td>
                            <td><a href="#">Edit</a></td>

                        </tr>
                    </tbody>
                </table>

        </main>

    </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
